<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirLTStd-Roman.otf</string>
		<string>AvenirLTStd-Heavy.otf</string>
		<string>AvenirLTStd-Oblique.otf</string>
		<string>AvenirLTStd-HeavyOblique.otf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-BoldItalic.ttf</string>
	</array>
</dict>
</plist>
